body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #D7EAF1;
}

header {
  width: 100%;
  height: 300px;
  background-image: url(images/header1.png);
  background-repeat: no-repeat;
  background-size: auto;

}

header img {
  width: 7%;
  margin-left: 90px;
  margin-top : 100px;
  display: inline-block;
  float: left;
}

.name, address {
  display: inline-block;
  color: blue;
}

.name {
font-size: 0.8em;
margin-left: -20%;
margin-top: 100px;
border: 1px black solid;
font-family: cursive;
}

 header address {
  margin-left: 20%;
  line-height: 2;
  padding: 10px;
  margin-top: 10px;
  background-color: #EECD32;
  border-radius: 30px;
  border: black dashed 1px;
  box-shadow: 2px 2px 2px #78681A;
}

main, nav{
  width: 100%;

}
 main ul li {
   list-style: none;
   font-size: 1.5em;
   color: white;
   background-color: blue;
   width: 100%;

 }

 main ul li:hover {
   background-color: white;
   color : blue;
 }

 ul {
  padding-left: 0;
 }

  nav i {
    color: white;
    margin-right: 10px;
  }
