/*******************************************smartphone*************************************************************************/

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #D7EAF1;
}

a { text-decoration: none;}

/******************************header********************************************************/

header {
  width: 100%;
  background-image: url(images/header1.png);
  background-repeat: no-repeat;
  background-size: 100%;

}

header img {
  width: 20%;
  float: left;
  position: relative;
  top : 58px;
  left: 20px;
}

.name, address {
  display: inline-block;
  color: blue;
}

.name {
  font-size: 0.8em;
  font-family: cursive;
}

header address {

  line-height: 2;
  padding: 10px;
  margin-top: 10px;
  background-color: #EECD32;
  border-radius: 30px;
  box-shadow: 2px 2px 2px #78681A;
}
/****************************************main*************************************/
main, nav {
  width: 100%;

}

main ul {
  position: relative;
  left : -27px;
}

main li {
  width: 40px;
  display: inline-block;
  font-size: 2em;
  padding: 40px;
  background-image: url(images/goutte.png);
  background-size: 112%;
  background-repeat: no-repeat;
  padding-right: 20px;
}


span {
  display: none;
}

section {
  width: 90%;
  margin: auto;
}


section img {
  width: 35%;
  }

.left img {
  float: left;
 }

.right img {
  float: right;
 }


section p {
  font-size: 0.8em;
  line-height: 1.5;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
 }

#canalisation p  {

  background-color: #4BD490;
  margin-left: 10px;

 }



#douche p{
  margin-right: 10px;
  background-color: #EECD32;

 }

.right img {
  margin-top: 28px;

 }

#chauffe p {
  background-color: #DB764A;
  margin-left: 10px;

 }

.haut {
  display: none;
}

video {
   display: none;
 }

 /*******************************************footer**********************************/


footer li {
   padding: 10px;
   list-style: none;
   position: relative;
   left : -20px;

 }

 footer ul {
   margin: auto;
 }

footer a {
  color: black;
}
footer i {
   margin-right: 20px;
 }
 /*************************************tarifs*****************/
table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 30px;
 }

tr, th, td {
  border: 1px solid black;
  font-size: 0.8em;
  padding: 10px;

}

th {
  background-color: #EECD32;
}

td {
  background-color: #F16263;
}

/**********************************Contact****************************/
label, input {
  display: inline-block;

}

form div {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}

 form input {
   width: 200px;
 }

 Iframe {
   width: 80%;
 }


 /************************************************************* Tablette *****************************************************/
@media (min-width: 701px) {

header {
  background-size: auto;
  height: 300px;

}

header img {

  width: 15%;
  left : 80px;

}

address {
  position: relative;
  top: 82px;
}

.name {
  position: relative;
  top: 100px;
  left : -100px;
}

.right img {
  margin-top: 10px;
}

main ul {
  width: 80%;
  left : 75px;
}

main li {
  margin-right: 80px;}

section {
  margin-bottom: 100px;

}

#canalisation {
  height: 200px;
}

#canalisation p {
  position: relative;
  top : 20px;
  z-index: -1;
}
footer {
  height: 200px;
  background-image: url(images/footer1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

footer ul li{
  display: inline-block;
  position: relative;
  top : 70px;
}

/*******************************tarifs**************************************/


tr, th, td {
  font-size: 1em;

}

/***********************contact****************************************/
form div {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
}

 form input {
   width: 300px;
 }



/************************************************************************PC******************************************************/

@media (min-width:1000px) {

.name {
  margin-right: 120px;
}

main li {
  display: block;

  margin-bottom: 50px;
}

main li:first-child {
  margin-left: 0;
}

main nav{
  display: inline-block;
  width: auto;
  height: 600px;
  left: -86px;
  margin-top: 30px;
  position: absolute;
}

main section {
  display :inline-block;
  width: 70%;
  vertical-align: top;
  margin-left: 180px;

}


section img {
  width: 250px;
}

.right {
  vertical-align: top;
}

.left, .right {
  margin-left: 20px;
  margin-bottom: 20px;
}

#canalisation {
  height: 240px;
}

#canalisation img {
  position: relative;
  top : -15px;
}

video {
  display: inline-block;
  width: 30%;
  margin-bottom: 30px;
}

footer {
  height: 300px;
}

footer ul li {
  font-size: 2em;
  top: 120px;
  left : -80px;
  margin-left: 100px;
}

.haut {
  display: block;
  bottom: 10px;
  right : 0;
  position: fixed;
  width: 100px;
}

.haut img {
  width: 50%;
}



/******************************************tarifs******************/

table {
  width: 80%;
  position: relative;

left : 242px;
}

/************************************contact***************/
form {
  position: relative;
  left:190px;
  top : 70px;}

form div {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
}

 form input {
   width: 300px;
 }

form, .carte{
  display: inline-block;
}

.carte {
   width : 50%;
 }

iframe {
  width: 50%;
}
}
