/*******************************************smartphone*********************/

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #D7EAF1;
}

a { text-decoration: none;}

header {
  width: 100%;

  background-image: url(images/header1.png);
  background-repeat: no-repeat;
  background-size: 100%;

}

header img {
  width: 20%;
  margin-left: 20px;
  margin-top : 100px;
  display: inline-block;
  float: left;
}

.name, address {
  display: inline-block;
  color: blue;
}

.name {
font-size: 0.8em;
margin-left: -13%;
margin-top: 120px;

font-family: cursive;
}

 header address {

  line-height: 2;
  padding: 10px;
  margin-top: 10px;
  background-color: #EECD32;
  border-radius: 30px;

  box-shadow: 2px 2px 2px #78681A;
}

main, nav{
  width: 100%;

}



  main li {
    width: 40px;
    display: inline-block;
    font-size: 2em;

    padding: 40px;
    background-image: url(images/goutte.png);
    background-size: 112%;
    background-repeat: no-repeat;
    padding-right: 20px;


  }

  main li:first-child {
    margin-left: -50px
  }
span {
  display: none;
}
  section {
    width: 90%;
    margin: auto;
  }

  section img {
    width: 35%;
  }

 .left img {
   float: left;
 }

 .right img {
   float: right;
 }



 section p {
   font-size: 0.8em;
   /*height: 20%;*/
   line-height: 1.5;
   padding: 10px;
   border-radius: 10px;
   text-align: justify;

 }

 .canalisation {
   background-color: #4BD490;
   margin-left: 10px;
   margin-top: 35px;

 }

 .douche {
   margin-right: 10px;
   background-color: #EECD32;
   margin-top: -5px;
 }

 .chauffe {
   background-color: #DB764A;
   margin-left: 10px;

 }

.haut {
  display: none;}

 video {
   display: none;
 }


 footer li {
   padding: 10px;
   list-style: none;

 }

footer a {
  color: black;
}
 footer i {
   margin-right: 20px;
 }

 /******************* Tablette **********************************/
@media (min-width: 701px) {

header {
  background-size: auto;
  height: 300px;

}

header img {

  width: 15%;
  margin-left: 100px;

}

.name {
  margin-top: 102px;
  margin-right: 53px;
}

  main li:first-child {

margin-left: 50px;

}

main li {
margin-right: 80px;}

}

section {
  margin-bottom: 100px;
}



footer {
  height: 200px;
  background-image: url(images/footer1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

footer ul li{
  display: inline-block;
  margin-top: 60px;
}

}

/**************************************PC********************************/
